extends ../layouts/layout

block content
	section.p-b-65.p-t-65
		.container
			.row
				.col-sm-10.col-sm-offset-1
					.row
						.col-sm-5.sm-m-t-30
							.p-r-65.md-p-l-0.md-p-r-10.sm-m-t-20
								.b-black.b-a.text-center.b-rad-md.no-overflow
									.bg-black.p-t-30.p-b-30
										h5.block-title.text-white.no-margin Regular
										h1.font-montserrat.no-margin.text-white
											| 27 
											sup.fs-14.dollar USD
										p.text-white.no-margin.fs-14 per Company/ mo
									.p-t-20.p-b-20
										p.semi-bold
											| Billed annually or
											br
											|  $27 month-to-month
										ul.list-unstyled.p-l-60.p-r-60.sm-p-l-10.sm-p-r-10.hint-text.m-t-20
											li.b-b.b-grey
												p.font-arial.fs-14.no-margin.p-t-5.p-b-5 Upto 30 Companies
											li.b-b.b-grey
												p.font-arial.fs-14.no-margin.p-t-5.p-b-5 Free Email Server
											li.b-b.b-grey
												p.font-arial.fs-14.no-margin.p-t-5.p-b-5 2 Domain Names
											li.b-b.b-grey
												p.font-arial.fs-14.no-margin.p-t-5.p-b-5 1 Web Server
											li
												p.font-arial.fs-14.no-margin.p-t-5.p-b-5 1 End Product
									.bg-master-lighter.p-t-20.p-b-20
										a.btn.btn-rounded.btn-black(href='#') Rounded
										a.btn.btn-rounded.btn-white(href='#') Try
										p.small.hint-text.m-t-15.m-b-5
											| 30 Days Free Trail for the
											br
											|  Regular package
						.col-sm-7.sm-p-t-20
							h1.m-t-30.light
								| Hundred of UI Elements 
								br
								| for the price of one
							.p-t-50
								dl
									dt.block-title.p-b-15.text-black
										| Launch Design 
										i.pg-arrow_right.m-l-10
									dd.m-b-30
										| Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a more sophisticated yet simple framework
								dl
									dt.block-title.p-b-15.text-black
										| Responsive 
										i.pg-arrow_right.m-l-10
									dd.m-b-30
										| Our long standing vision has been to bypass the usual admin dashboard structure, and move forward with a
								dl
									dt.block-title.text-black.p-b-15
										| Launch Your Design 
										i.pg-arrow_right.m-l-10
									dd.m-b-30 Our long standing vision has been to bypass the usual admin dashboard structure.

