extends ../layouts/layout
include ../components/index-menu-item
include ../components/index-product-item

block css
	link(href='/front/assets/plugins/swiper/css/swiper.css', rel='stylesheet', type='text/css', media='screen')
		
block content
	.page-wrappers
		//- BEGIN JUMBOTRON
		section.jumbotron.full-vh(data-pages='parallax')
			.inner.full-height
				//- BEGIN SLIDER
				#hero.swiper-container
					.swiper-wrapper
						//- BEGIN SLIDE
						.swiper-slide.fit
							//- BEGIN IMAGE PARRALAX
							.slider-wrapper
								.image(data-swiper-parallax='30%')
									img.image-responsive-height(draggable='false', src='/front/assets/images/hero_g.jpg', alt='', title='')
							//- END IMAGE PARRALAX
							//- BEGIN CONTENT
							.content-layer
								.inner.full-height
									.container-xs-height.full-height
										.col-xs-height.col-middle.text-left
											.container
												.col-xs-11.col-md-6.col-xs-offset-1
													h1.light.text-white
														| The new websites 
														br
														| on its way!
													h4.text-white Sign up for our spam free newsletter
													form.m-t-25.m-b-20(role='form', action='/process?from=newsletter', method='POST')
														.form-group.form-group-default.input-group.no-border.input-group-attached.col-md-12.col-sm-12.col-xs-12
															label.control-label(for='email') Email Address
															input.form-control(type='email', name='email' placeholder='Example@mailserver.com')
															span.input-group-btn
																button.btn.btn-black.btn-cons(type='submit') Subscribe!
													p.text-white.fs-12 Be first to find out when we Launch our product.
							//- END CONTENT
						//- END SLIDE
						//- BEGIN SLIDE
						.swiper-slide.fit
							//- BEGIN IMAGE PARRALAX
							.slider-wrapper
								.image(data-swiper-parallax='30%')
									img.image-responsive-height(draggable='false', src='front/assets/images/gallery_hero_1.jpg', alt='', title='')
							//- END IMAGE PARRALAX
							//- BEGIN CONTENT
							.content-layer
								.inner.full-height
									.container-xs-height.full-height
										.col-xs-height.col-middle.text-left
											.container
												.col-md-6.no-padding.col-xs-10.col-xs-offset-1
													h1.light.text-white.sm-text-center(data-swiper-parallax='-15%')  Twenty & Counting... Unique Website Templates
													h4.sm-text-center.text-white Save time, save money, look more professional and win more clients.
													h5.block-title.text-white.sm-text-center Behind the scenes watch tour
							//- END CONTENT
						//- END SLIDE
					//- BEGIN ANIMATED MOUSE
					.mouse-wrapper
						.mouse
							.mouse-scroll
					//- Add Navigation
					.swiper-navigation.swiper-dark-solid.swiper-button-prev
					.swiper-navigation.swiper-dark-solid.swiper-button-next
			//- END SLIDER
		//- END JUMBOTRON

		//- BEGIN INTRO CONTENT
		section.p-b-20.p-t-70
			.container.text-center
				.row
					.col-sm-8.col-sm-offset-2
						h6.block-title.m-b-0 Elegant that shines
						h1.m-t-5.light FEATURED PRODUCTS
		//- END INTRO CONTENT

		//- BEGIN PORTFOLIO SECTION
		section
			.container
				//- h1.text-center FEATURED PRODUCTS
				.b-b.b-grey.m-t-30
				.col-md-12.p-t-15.p-b-15.text-center
					ul.no-style.no-margin
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') all
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') meat
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') vegetable
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') ingredients
						li.m-r-20.m-l-20.inline.xs-block.text-center
							a.link.active.text-black.fs-13.block-title(href='/mart') more 
								i.pg-more
			.gallery
				.grid-sizer.col-sm-3.col-xs-6.no-padding
				+index_Product_Item(item)
		//- END PORTFOLIO SECTION

		//- BEGIN INTRO CONTENT
		section.p-b-20.p-t-70
			.container.text-center
				.row
					.col-sm-8.col-sm-offset-2
						h6.block-title.m-b-0 Elegant that shines
						h1.m-t-5.light SPECIAL MEAL
		//- END INTRO CONTENT

		//- BEGIN FILTER
		section
			.container
				.b-b.b-grey.m-t-30
				.col-md-12.p-t-15.p-b-15.text-center
					ul.no-style.no-margin
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') latest
						li.m-r-20.m-l-20.inline.xs-block.text-center.xs-p-b-5.xs-m-b-5.b-grey.xs-b-b
							a.link.active.text-black.fs-13.block-title(href='javascript:;') popular
						li.m-r-20.m-l-20.inline.xs-block.text-center
							a.link.active.text-black.fs-13.block-title(href='/restaurant') more 
								i.pg-more
		//- END FILTER

		section.p-b-30
			.container
				.row
					if context.length
						each item in context
							+index_Menu_Item(item)
					else
						p No content.
block js
	//- BEGIN SWIPER DEPENDENCIES
	script(type='text/javascript', src='front/assets/plugins/velocity/velocity.min.js')
	script(type='text/javascript', src='front/assets/plugins/velocity/velocity.ui.js')
	script(type='text/javascript', src='front/assets/plugins/swiper/js/swiper.jquery.min.js')
	script(type='text/javascript', src='front/assets/js/custom.js')
	