extends ../layouts/layout

block content
	//- BEGIN JUMBOTRON
	section.jumbotron.demo-custom-height-1.full-width(data-pages-bg-image='assets/images/Hero.jpg', data-pages='parallax', data-bg-overlay='black', data-overlay-opacity='0.4')
		.inner.full-height
			.container-xs-height.full-height
				.col-xs-height.col-middle.text-left
					.container
						.col-sm-6.col-sm-offset-3.sm-m-t-30.sm-p-t-20.sm-p-b-20
							h1.light.text-center.text-white.xs-p-t-30.sm-p-b-30
								| Digital solutions led by clarity, simplicity & honesty
	//- END JUMBOTRON

