mixin share
	ul.padding-10.list-unstyled.list-inline.bottom-right
		li
			a.text-white(herf='#')
				i.fa.fa-facebook
		li
			a.text-white(herf='#')
				i.fa.fa-wechat
		li
			a.text-white(herf='#')
				i.fa.fa-twitter
		li
			a.text-white(herf='#')
				i.fa.fa-rss