include ../layouts/nav

doctype html
html
	head
		meta(http-equiv='content-type', content='text/html;charset=UTF-8')
		meta(charset='utf-8')
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='apple-touch-icon', href='pages/ico/60.png')
		link(rel='apple-touch-icon', sizes='76x76', href='pages/ico/76.png')
		link(rel='apple-touch-icon', sizes='120x120', href='pages/ico/120.png')
		link(rel='apple-touch-icon', sizes='152x152', href='pages/ico/152.png')
		link(rel='icon', type='image/x-icon', href='favicon.ico')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='default')
		meta(name='description', content='')
		meta(name='author', content='')
		//- BEGIN PLUGINS
		link(href='assets/plugins/pace/pace-theme-flash.css', rel='stylesheet', type='text/css')
		link(href='assets/plugins/bootstrap/css/bootstrap.min.css', rel='stylesheet', type='text/css')
		link(href='assets/plugins/font-awesome/css/font-awesome.css', rel='stylesheet', type='text/css')
		link(href='assets/plugins/swiper/css/swiper.css', rel='stylesheet', type='text/css', media='screen')
		//- END PLUGINS
		//- BEGIN PAGES CSS
		link.main-stylesheet(href='pages/css/pages.css', rel='stylesheet', type='text/css')
		link.main-stylesheet(href='pages/css/pages-icons.css', rel='stylesheet', type='text/css')
		//- END PAGES CSS
	body.pace-dark
		+header
		block content
		//- BEGIN FOOTER
		section.p-b-30.p-t-40.bg-master-dark
			.container
				.row
					.col-sm-6
						img.logo(src='assets/images/logo_white.png', alt='')
						.m-t-10
							ul.no-style.fs-11.no-padding.font-arial
								li.inline.no-padding
									a.link.text-white.p-r-10.b-r.b-transparent-white(href='/') Home
								li.inline.no-padding
									a.link.text-white.p-l-10.p-r-10.b-r.b-transparent-white(href='Mart') Mart
								li.inline.no-padding
									a.link.text-white.p-l-10.p-r-10.b-r.b-transparent-white(href='/restaurant') Restaurant
								li.inline.no-padding
									a.link.text-white.p-l-10.p-r-10.xs-no-padding.xs-m-t-10(href='/contact') Contact
						p.fs-11.small-text.no-margin.text-white
							span.hint-text Exclusive only at
							|  Envato Marketplace,Mr CHENS 
							span.hint-text See
							|  Standard licenses & Extended licenses
						p.fs-11.muted.text-white Copyright © 2017 MR.CHENS. All Rights Reserved.
					.col-sm-6.font-arial.sm-text-left.hidden-xs
						.form-group.form-group-default.input-group.col-md-10.col-sm-10.bg-transparent.b-a.b-transparent-white
							label.control-label Email Address
							input.form-control.text-white(type='email', placeholder='Example@mailserver.com')
							span.input-group-btn
								button.btn.btn-primary.m-r-10.btn-cons(type='button') Subscribe!
						p.fs-12.hint-text.p-t-10.text-white
							| We value your privacy. None of the details supplied will be shared with external parties
		//- END FOOTER
		//- START OVERLAY
		//- .overlay.hide(data-pages='search')
		//- 	//- BEGIN Overlay Content !
		//- 	.overlay-content.full-height.has-results
		//- 		//- END Overlay Header !
		//- 		.container.relative.full-height
		//- 			//- BEGIN Overlay Header !
		//- 			.container-fluid
		//- 				//- BEGIN Overlay Close !
		//- 				a.close-icon-light.overlay-close.text-black.fs-16.top-right(href='#')
		//- 					i.pg-close_line
		//- 				//- END Overlay Close !
		//- 			.container-fluid
		//- 				.inline-block.bottom-right.m-b-30
		//- 					.checkbox.right
		//- 						input#checkboxn(type='checkbox', value='1', checked='checked')
		//- 						label(for='checkboxn') Search within page
		//- 			.container-xs-height.full-height
		//- 				.col-xs-height.col-middle.text-center
		//- 					//- BEGIN Overlay Controls !
		//- 					input#overlay-search.no-border.overlay-search.bg-transparent.col-sm-6.col-sm-offset-4(placeholder='Search...', autocomplete='off', spellcheck='false')
		//- 					br
		//- 					.inline-block.bottom-left.m-l-10.m-b-30.hidden-xs
		//- 						p.fs-14
		//- 							i.fa.fa-search.m-r-10
		//- 							|  Press enter to search
		//- 					//- END Overlay Controls !
		//- 	//- END Overlay Content !
		//- END OVERLAY
		//- BEGIN CORE FRAMEWORK
		script(type='text/javascript', src='assets/plugins/pace/pace.min.js')
		script(type='text/javascript', src='pages/js/pages.image.loader.js')
		script(type='text/javascript', src='assets/plugins/jquery/jquery-1.11.1.min.js')
		script(type='text/javascript', src='assets/plugins/bootstrap/js/bootstrap.min.js')
		//- BEGIN SWIPER DEPENDENCIES
		script(type='text/javascript', src='assets/plugins/velocity/velocity.min.js')
		script(type='text/javascript', src='assets/plugins/velocity/velocity.ui.js')
		//- Waits for the images to be loaded before applying the Isotope plugin
		script(src='assets/plugins/imagesloaded/imagesloaded.pkgd.min.js')
		//- Isotope plugin arranges the card layout
		script(type='text/javascript', src='assets/plugins/jquery-isotope/isotope.pkgd.min.js')
		//- BEGIN RETINA IMAGE LOADER
		script(type='text/javascript', src='assets/plugins/jquery-unveil/jquery.unveil.min.js')
		block js
		//- END VENDOR JS
		//- BEGIN PAGES FRONTEND LIB
		script(type='text/javascript', src='pages/js/pages.frontend.js')
		//- END PAGES LIB
		//- BEGIN YOUR CUSTOM JS
		script(type='text/javascript', src='assets/js/gallery.js')


