include ../layouts/nav
include ../layouts/foot

doctype html
html
	head
		meta(http-equiv='content-type', content='text/html;charset=UTF-8')
		meta(charset='utf-8')
		title= title
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		link(rel='apple-touch-icon', href='pages/ico/60.png')
		link(rel='apple-touch-icon', sizes='76x76', href='pages/ico/76.png')
		link(rel='apple-touch-icon', sizes='120x120', href='pages/ico/120.png')
		link(rel='apple-touch-icon', sizes='152x152', href='pages/ico/152.png')
		link(rel='icon', type='image/x-icon', href='favicon.ico')
		meta(name='apple-mobile-web-app-capable', content='yes')
		meta(name='apple-touch-fullscreen', content='yes')
		meta(name='apple-mobile-web-app-status-bar-style', content='default')
		meta(name='description', content='')
		meta(name='author', content='')
		//- BEGIN PLUGINS
		link(rel="stylesheet", href="/front/assets/css/vendor.css")
		block css
		//- END PLUGINS
		//- BEGIN PAGES CSS
		link(rel="stylesheet", href="/front/assets/css/style.css")
		//- END PAGES CSS
	body.pace-dark
		+header
		block content
		+footer
		//- START OVERLAY
		//- .overlay.hide(data-pages='search')
		//- 	//- BEGIN Overlay Content !
		//- 	.overlay-content.full-height.has-results
		//- 		//- END Overlay Header !
		//- 		.container.relative.full-height
		//- 			//- BEGIN Overlay Header !
		//- 			.container-fluid
		//- 				//- BEGIN Overlay Close !
		//- 				a.close-icon-light.overlay-close.text-black.fs-16.top-right(href='#')
		//- 					i.pg-close_line
		//- 				//- END Overlay Close !
		//- 			.container-fluid
		//- 				.inline-block.bottom-right.m-b-30
		//- 					.checkbox.right
		//- 						input#checkboxn(type='checkbox', value='1', checked='checked')
		//- 						label(for='checkboxn') Search within page
		//- 			.container-xs-height.full-height
		//- 				.col-xs-height.col-middle.text-center
		//- 					//- BEGIN Overlay Controls !
		//- 					input#overlay-search.no-border.overlay-search.bg-transparent.col-sm-6.col-sm-offset-4(placeholder='Search...', autocomplete='off', spellcheck='false')
		//- 					br
		//- 					.inline-block.bottom-left.m-l-10.m-b-30.hidden-xs
		//- 						p.fs-14
		//- 							i.fa.fa-search.m-r-10
		//- 							|  Press enter to search
		//- 					//- END Overlay Controls !
		//- 	//- END Overlay Content !
		//- END OVERLAY
		//- BEGIN CORE FRAMEWORK
		script(type='text/javascript', src='/front/assets/plugins/pace/pace.min.js')
		script(type='text/javascript', src='/front/pages/js/pages.image.loader.js')
		script(type='text/javascript', src='/front/assets/plugins/jquery/jquery-1.11.1.min.js')
		script(type='text/javascript', src='/front/assets/plugins/bootstrap/js/bootstrap.min.js')
		//- Waits for the images to be loaded before applying the Isotope plugin
		script(src='/front/assets/plugins/imagesloaded/imagesloaded.pkgd.min.js')
		//- Isotope plugin arranges the card layout
		script(type='text/javascript', src='/front/assets/plugins/jquery-isotope/isotope.pkgd.min.js')
		//- BEGIN RETINA IMAGE LOADER
		script(type='text/javascript', src='/front/assets/plugins/jquery-unveil/jquery.unveil.min.js')
		block js
		//- END VENDOR JS
		//- BEGIN PAGES FRONTEND LIB
		script(type='text/javascript', src='/front/pages/js/pages.frontend.min.js')
		//- END PAGES LIB
		//- BEGIN YOUR CUSTOM JS
		script(type='text/javascript', src='/front/assets/js/gallery.js')


