mixin header
	//- BEGIN HEADER
	nav.header.bg-header.dark(data-pages='header', data-pages-header='autoresize', data-pages-resize-class='light')
		.container.relative
			//- BEGIN LEFT CONTENT
			.pull-left.z-index-10
				//- BEGIN HEADER TOGGLE FOR MOBILE
				.visible-sm-inline.visible-xs-inline.menu-toggler.pull-right(data-pages='header-toggle', data-pages-element='#header')
					.one
					.two
					.three
			//- BEGIN CENTER CONTENT
			.pull-center
				.pull-center-inner
					.header-inner
						//- BEGIN LOGO
						img.alt(src='/front/assets/images/logo_black.png', width='152', height='21', data-src-retina='/front/assets/images/logo_black_2x.png', alt='')
						img.logo(src='/front/assets/images/logo_white.png', width='152', height='21', data-src-retina='/front/assets/images/logo_white_2x.png', alt='')
			.pull-right.relative.z-index-10.visible-sm-inline.visible-xs-inline
				.header-inner
					//- a.search-toggle(href='#', data-toggle='search')
						//- i.fs-14.pg-search
			//- END CENTER CONTENT
			//- BEGIN MENU
			#header.menu-content.clearfix(data-pages='menu-content', data-pages-direction='slideLeft')
				//- BEGIN HEADER CLOSE TOGGLE FOR MOBILE
				.pull-left
					a.text-black.link.padding-10.visible-xs-inline.visible-sm-inline.pull-right.m-t-10.m-b-10.m-r-10(href='#', data-pages='header-toggle', data-pages-element='#header')
						i.pg-close_line
				.pull-left.sm-full-width
					.header-inner
						//- BEGIN MENU ITEMS
						ul.menu
							li
								a(class={active: curl === '/'} href='/', data-text='Home') Home


							li.mega
								a(class={active: curl === '/restaurant'} href='/restaurant', data-text='Restaurant') Restaurant
								//- 	i.pg-arrow_minimize.m-l-5
								//- span.arrow
								//- nav.mega
								//- 	.container
								//- 		.row
								//- 			.col-md-4.p-l-25.sm-p-l-0.hidden-sm.hidden-xs
								//- 				h6.block-title.fs-12.no-margin Pages UI Bundle
								//- 				h2.m-t-20
								//- 					| A new page, 
								//- 					br
								//- 					| a new beginning...
								//- 				p.small.font-arial.hint-text.no-margin Exclusively available at Envato Marketplace
								//- 				a.btn.btn-black.font-montserrat.fs-11.all-caps.m-t-35(href='#') Buy now
								//- 			.col-md-8
								//- 				.row
								//- 					.col-md-4
								//- 						h6.sub-menu-heading UI Elements
								//- 						ul.sub-menu
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#color', target='_blank') Colors
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#icons', target='_blank') Icons
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#buttons', target='_blank') Buttons
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#modals', target='_blank') Modals
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#progress_bars', target='_blank') Progress & Activity
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#accordians', target='_blank') Accordians
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#tabs', target='_blank') Tabs
								//- 					.col-md-4
								//- 						h6.sub-menu-heading Forms
								//- 						ul.sub-menu
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#form_elements', target='_blank') Form Elements
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#form_layouts', target='_blank') Form Layouts
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/1.0/doc/#form_validation', target='_blank') Form Validation
								//- 						h6.sub-menu-heading Other products
								//- 						ul.sub-menu
								//- 							li
								//- 								a(href='http://www.revox.io/webarch/', target='_blank') Webarch
								//- 					.col-md-4
								//- 						h6.sub-menu-heading Made with pages
								//- 						ul.sub-menu
								//- 							li
								//- 								a(href='http://pages.revox.io/dashboard/latest/html', target='_blank') Pages Admin
								//- 							li
								//- 								a(href='http://pages.revox.io/dashboard/latest/html/email.html', target='_blank') Email
								//- 							li
								//- 								a(href='http://pages.revox.io/frontend/latest', target='_blank') Pages Frontend
								//- 							li
								//- 								a(href='http://pages.revox.io/dashboard/latest/html/calendar.html', target='_blank') Calendar
								//- 							li
								//- 								a(href='http://pages.revox.io/dashboard/latest/html/social.html', target='_blank') Social
								//- 							li
								//- 								a(href='http://pages.revox.io/dashboard/latest/html/builder.html', target='_blank') Builder
							li
								a(class={active: curl === '/mart'} href='/mart', data-text='Mart') Mart
						//- END MENU ITEMS
				.pull-right.sm-full-width
					.header-inner
						//- BEGIN MENU ITEMS
						ul.menu
							li
								a(class={active: curl === '/contact'} href='/contact', data-text='Contact Us') Contact Us
							li
								a(herf='javascript:;', data-text='phone') +65 345 345 5555 
									i.m-l-10.fa.fa-phone
						//- END MENU ITEMS
						//- BEGIN COPYRIGHT FOR MOBILE
						.font-arial.m-l-35.m-r-35.m-b-20.m-t-20.visible-sm.visible-xs
							p.fs-11.no-margin.small-text.p-b-20
								| Exclusive only at ,Mr CHENS. See Standard licenses & Extended licenses
							p.fs-11.small-text.muted Copyright © 2017 MR.CHENS
						//- END COPYRIGHT FOR MOBILE
			//- END MENU
	//- END HEADER