extends ../../layouts/layout-admin

block content
	//- START PAGE CONTENT
	.content
		//- START JUMBOTRON
		.jumbotron(data-pages='parallax')
			.container-fluid.container-fixed-lg.sm-p-l-20.sm-p-r-20
				.inner
		//- END JUMBOTRON
		//- START CONTAINER FLUID
		.container-fluid.container-fixed-lg
			//- BEGIN PlACE PAGE CONTENT HERE
			//- END PLACE PAGE CONTENT HERE
		//- END CONTAINER FLUID
	//- END PAGE CONTENT