mixin index_Menu_Item(post)
	//- START POST
	.col-sm-4.post-card
		img.lazy.image-responsive-height(draggable='false', src="assets/images/meal1.jpg", alt="")
		.post-card-body
			.m-t-30
				h5.all-caps.font-montserrat.no-margin Dinner-Name
				h4.font-montserrat.no-margin
					i.fa.fa-dollar
					| 99.00
				.clearfix
			p.fs-16.m-t-20
				| Awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes.
		.post-card-footer.m-t-30
			p.hint-text.small.pull-left Added on 12 sep 2014
			.clearfix
	//- END POST
