mixin list_Menu_Item(post)

	//- START POST
	.col-sm-12.col-md-10
		.clearfix.b-b.b-grey
			dl.row.dl-horizontal.m-b-30
				img.center-block.col-sm-12.col-md-4(src='assets/images/gallery_3.jpg', alt='')
				dd.col-sm-12.col-md-8.no-margin
					h5.all-caps.font-montserrat.pull-left.no-margin Meal's Title
					.pull-right
						a.m-l-10.text-master.bold.fs-14(herf='javascript:;')
							i.fa.fa-facebook
						a.m-l-10.text-master.bold.fs-14(herf='javascript:;')
							i.fa.fa-wechat
						a.m-l-10.text-master.bold.fs-14(herf='javascript:;')
							i.fa.fa-twitter
						a.m-l-10.text-master.bold.fs-14(herf='javascript:;')
							i.fa.fa-rss
					.clearfix
					h5.font-montserrat.text-master
						i.fa.fa-dollar 99.00
					p.fs-16.m-t-20
						| Give some detials about the meals you put here and show anything else you thought it worth.
					.post-card-footer.m-t-30
						p.hint-text.small.pull-left Added on 12 sep 2014
	//- END POST