mixin list_Product_Item(post)
	.col-sm-4.m-b-30.clearfix
		//- START ITEM
		.card.share.full-width(data-social='item')
			.card-content
				ul.buttons
					li
						a(href='#')
							span.label.font-montserrat.label-danger.fs-11 NEW
				img.lazy(alt='Quote', src='assets/images/gallery_5.jpg')
			.card-description
				p Like if you agree
				p.m-b-0.semi-bold.text-master.font-montserrat.bold $0.00
				p.m-b-0.text-master.fs-12 Description here
				ul.list-unstyled.list-inline.no-margin
						li
							a.text-master(herf='#')
								i.fa.fa-facebook
						li
							a.text-master(herf='#')
								i.fa.fa-wechat
						li
							a.text-master(herf='#')
								i.fa.fa-twitter
						li
							a.text-master(herf='#')
								i.fa.fa-rss
			.card-footer.bg-master-lightest.clearfix
				.time few seconds ago
				ul.reactions
					li
						i.fa.fa-eye.m-r-5
						span.text-master-darkest.bold
							| 0 
		//- END ITEM